@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
html{
   scroll-behavior: smooth;
}
.main_body {
   background-color: #1e252d;
   background-image: url('https://media.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif');
   background-size: cover;
}

.post_body {
  background-color: #1e252d;
}
h1, h2 {
   text-align: center;
   color: #002B4D;
   font-family: "Merriweather", Georgia, serif;
   font-weight: 700;
   line-height: 1.5;
   margin: 0 0 1em 0;
}
p {
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   color: #002B4D;
   text-align: left;
}
.text {
   text-align: left;
   padding: 0rem 10rem 0rem 10rem;
   font-size: 1.2rem;
}
.section {
   padding-top: 5px;
   border: 1px solid #eed7b7;
   position: relative;
   padding-bottom: 100px;
}
.section:after {
   content: '';
   display: block;
   position: absolute;
   width: 75%;
   top: 47px;
   left: 12%;
   border: 1px solid grey;
   text-align: center;
}
#main {
   background-color: #eed7b7;
   position: relative;
   top: 100px;
   margin: 0 auto;
   width: calc(100vm - 4rem);
   max-width: 80rem;
   z-index: 2;
   padding: 20px;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

ol {
  padding: 0rem 12rem 0rem 12rem;
}

li {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #002B4D;
  text-align: left;
  font-size: 1.2rem;
  margin: 1rem 0;
}

nav {
   text-align: center;
   padding-top: 16px;
   padding-bottom: 16px;
   overflow: hidden;
   z-index: 5;
   margin: auto;
}
nav a {
   color: white;
   padding: 10px 10px 10px 10px;
   border: 1px solid white;
   text-decoration: none;
   transition: 0.3s;
}
nav a:hover {
   opacity: 1;
   background-color: white;
   color: black;
   transition: 0.3s;
}
.linkSet {
   cursor: default;
}
/*card animations by Michelle Barker*/
.cardSet {
   cursor: pointer;
   display: grid;
   justify-content: space-evenly;
   grid-template-columns: repeat(auto-fit, 17rem);
   gap: 1rem;
   padding-bottom: 20px;
}
.card {
   cursor: pointer;
   position: relative;
   height: 19rem;
   background-color: lightGrey;
   overflow-y: hidden;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card h3 {
   cursor: pointer;
   color: white;
   margin: 0;
   display: block;
   background-color: #1e252d;
   padding: 1rem;
}
.card a {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   cursor: pointer;
}
.card a:hover~.cardOverlay, .card a:focus~.cardOverlay {
   transform: translate3d(0, 0, 0);
}
img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}
.cardOverlay {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   position: absolute;
   width: 100%;
   top: 0;
   transition: transform 300ms;
   background-color: #1e252d;
   transform: translate3d(0, calc(100% - 3.5rem), 0);
}
button {
   cursor: pointer;
}
.cardBody {
   flex-grow: 1;
   padding: 1rem;
}
.cardBody p {
   color: white;
   margin: 0;
}
.cardBody button {
   margin: 0;
   color: red;
   cursor: pointer;
}

.post-image {
  width: 50%;
  height: 50%;
  display: inline;
  padding-right: 10.5rem;
  margin-left: 1rem;
}
.img-right {
 text-align: right;
}


.text-box {
  display: flex;
}

.text-box .text {
  padding: 0rem 0rem 0rem 10rem;
}
